@font-face {
  font-family: "lufga-bold";
  src: url("../src/Assests/Font/Fontspring-DEMO-lufga-bold.otf")
    format("truetype");
}
@font-face {
  font-family: "lufga-light";
  src: url("../src/Assests/Font/Fontspring-DEMO-lufga-light.otf")
    format("truetype");
}
@font-face {
  font-family: "lufga-medium";
  src: url("../src/Assests/Font/Fontspring-DEMO-lufga-medium.otf")
    format("truetype");
}
@font-face {
  font-family: "lufga-semibold";
  src: url("../src/Assests/Font/Fontspring-DEMO-lufga-semibold.otf")
    format("truetype");
}
@font-face {
  font-family: "Urbanist-SemiBold";
  src: url("../src/Assests/Font/Urbanist-SemiBold.otf") format("truetype");
}
@font-face {
  font-family: "Urbanist-Bold";
  src: url("../src/Assests/Font/Urbanist-Bold.ttf") format("truetype");
}

/* Header CSS */

div#basic-navbar-nav {
  justify-content: center;
}
nav.nav-outer {
  background: #fff !important;
}
.header-nav {
  justify-content: center;
}

.header-nav a {
  margin: 0 20px;
  color: #fff;
  font-size: 20px;
  padding: 17px 30px !important;
  border-radius: 40px;
  transition: all 0.5s;
}
.header-nav a.nav-link.active {
  color: #fff !important;
}

.header-nav a:hover,
.header-nav a:focus,
.header-nav a:active {
  background: #fd853a;
  color: #fff !important;
}

.nav-outer {
  background: #fff !important;
}

.nav-outer .container {
  background: #171717;
  padding: 10px 20px !important;
  border-radius: 60px;
  margin-top: 20px;
}

.nav-outer a.navbar-brand {
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
}

/* Banner Section CSS  */

.banner-content .ban-head {
  text-align: center;
  padding: 50px 0;
}
.banner-content .ban-head button:before {
  content: "";
  background: url("../src/Assests/image/btn-vector.png");
  position: absolute;
  height: 100%;
  width: 100%;
  top: -40%;
  right: -20%;
  z-index: 9999;
  background-repeat: no-repeat;
  background-position: top right;
}
div#banner h3 {
  color: #171717 !important;
}
.banner-content .ban-head button {
  position: relative;
}
.cta-btn {
  border: 1px solid #171717;
  background: transparent !important;
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 20px;
  color: #171717 !important;
  font-family: "lufga-medium";
}

.cta-btn a {
  text-decoration: none !important;
  color: #171717;
}

h1 {
  font-size: 95px !important;
  line-height: 103px !important;
  font-family: "Urbanist-SemiBold" !important;
  color: #171717 !important;
}

.orange {
  color: #fd853a !important;
}

.banner-content .left p {
  color: #344054;
  font-size: 20px;
  font-family: "lufga-medium";
}

.banner-content .icon {
  padding-bottom: 20px;
}

h3 {
  font-size: 47px !important;
  line-height: 55px !important;
  font-family: "Urbanist-Bold" !important;
  color: #171717 !important;
  font-weight: 600 !important;
}

.banner-content .right p {
  font-size: 20px;
  line-height: 28px;
  color: #171717 !important;
  font-family: "lufga-medium";
}
.banner-content .exp ul li {
  list-style: none;
  margin: 0 2px;
}

.banner-content .exp ul {
  display: flex;
  justify-content: end;
}

.banner-content .exp ul li svg {
  font-size: 30px;
  fill: darkorange;
}
.banner-content .exp {
  text-align: right;
}

.banner-content .img img {
  display: block;
  margin: 0 auto;
}

.ban-text .row {
  display: flex;
  align-items: center;
}

.banner-content {
  position: relative;
}

.ban-text {
  position: relative;
  overflow: hidden;
  margin-top: -180px;
}
.ban-text .img {
  position: relative;
  margin-top: 50px;
}
.ban-text .img:after {
  content: "";
  background: url("../src/Assests/image/btn-vector2.png");
  height: 100px;
  width: 100px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: left top;
  z-index: 99999999;
  top: 5%;
  left: -12%;
  background-size: cover;
}

.ban-text .img:before {
  content: "";
  background: #feb273;
  height: 500px;
  width: 500px;
  position: absolute;
  left: 0;
  border-radius: 50%;
  right: 0;
  margin: auto;
  bottom: -34%;
  z-index: -1;
  transform: scale(1.5);
}


:root {
  --switches-bg-color: #fff;
  --switches-label-color: white ;
  --switch-bg-color: #ff8b48;
  --switch-text-color: #fff ;
}





/* container for all of the switch elements 
  - adjust "width" to fit the content accordingly 
*/
.switches-container {
  width: 16rem;
  display: flex;
  line-height: 3rem;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  
/* From https: //css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

/* input (radio) for toggling. hidden - use labels for clicking on */
.switches-container input {
  visibility: hidden;
  position: absolute;
  top: 0;
}

/* labels for the input (radio) boxes - something to click on */
.switches-container label {
  width: 60%;
  padding: 0px;
  margin: 0;
  text-align: center;
  cursor: pointer;
  color: var(--switches-label-color);
  font-family: "lufga-light";
  font-size: 20px;
}

/* switch highlighters wrapper (sliding left / right) 
  - need wrapper to enable the even margins around the highlight box
*/
.switch-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  padding: 0.15rem;
  z-index: 3;
  transition: transform .5s cubic-bezier(.77, 0, .175, 1);
  /* transition: transform 1s; */
}

/* switch box highlighter */
.switch {
  border-radius: 3rem;
  background: var(--switch-bg-color);
  height: 100%;
}

/* switch box labels
  - default setup
  - toggle afterwards based on radio:checked status 
*/
.switch div {
  width: 100%;
  text-align: center;
  opacity: 0;
  display: block;
  color: var(--switch-text-color);
  transition: opacity .2s cubic-bezier(.77, 0, .175, 1) .125s;
  will-change: opacity;
  position: absolute;
  top: 0;
  left: 0;
  font-family: "lufga-light";
  font-size: 20px;
}

/* slide the switch box from right to left */
.switches-container input:nth-of-type(1):checked~.switch-wrapper {
  transform: translateX(0%);
}

/* slide the switch box from left to right */
.switches-container input:nth-of-type(2):checked~.switch-wrapper {
  transform: translateX(100%);
}

/* toggle the switch box labels - first checkbox:checked - show first switch div */
.switches-container input:nth-of-type(1):checked~.switch-wrapper .switch div:nth-of-type(1) {
  opacity: 1;
}

/* toggle the switch box labels - second checkbox:checked - show second switch div */
.switches-container input:nth-of-type(2):checked~.switch-wrapper .switch div:nth-of-type(2) {
  opacity: 1;
}

/* Experience Section CSS  */

h2 {
  text-align: center;
  color: #344054 !important;
  font-size: 64px !important;
  line-height: 72px !important;
  font-family: "lufga-medium" !important;
}

div#experience {
  padding: 100px 0;
}

/* Services Section CSS  */

div#services {
  position: relative;
  overflow: hidden;
}

div#services .heading-sec {
  padding-bottom: 70px;
}
div#services:before {
  content: "";
  background: url("../src//Assests/image/ser-bg.png");
  height: 100%;
  width: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: -1;
}
#services .serv-content {
  padding: 100px 0;
}
h3,
h4 {
  color: #fff !important;
  font-family: "lufga-medium" !important;
}
#services p {
  color: #fff !important;
  font-family: "lufga-medium" !important;
}
#services .arrow a svg {
  background: #1d2939;
  padding: 20px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  color: #fff;
  font-size: 45px;
  transform: rotate(-45deg);
  margin-right: 5px;
  transition: all 0.5s;
  margin-bottom: 8px;
}
#services .arrow a svg:hover {
  background: #fd853a ;
}
#services .arrow {
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
}
#services h3 {
  font-weight: 100 !important;
}

h4 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 100 !important;
}


#services .box:hover img {
  transform: scale(1.1);
}
#services .box {
  padding: 30px 0 0;
  position: relative;
  border-radius: 40px;
 
  margin-bottom: 40px;
  transition: all 0.5s;
  
}
.box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.06);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border-top: 1px solid rgba(255, 255, 255, 1);
  border-right: 2px solid rgba(255, 255, 255, 1);
  border-left: 1px solid rgba(255, 255, 255, 1);
  z-index: -1;
  border-radius: 45px;
 clip-path: polygon(100% 0, 100% 45%, 17% 100%, 0 100%, 0 0);
 transition: all 0.5s;
 border-radius: 40px;
}
#services .box  .image-inner {
  overflow: hidden;
}
.box:hover:before{
  background: #fd853a  !important;
}

#services .slick-slide {
  padding: 0 10px;
}
#services .box img {
  width: 100%;
  transition: all 0.5s;
  border-radius: 40px;
}
#services .box .title {
  padding: 0 30px 20px;
  border-bottom: 1px solid #cecaca;
  margin-bottom: 30px;
}

div#services .slick-dots li button:before {
  display: none;
}

div#services .slick-dots li {
  background: #fff;
  height: 20px;
  border-radius: 20px;
}

div#services .slick-dots li.slick-active {
  width: 90px;
  background: #ff9154;
}
#services .row-bg:before {
  content: "";
  background: url("../src/Assests/image/gifleft.png");
  height: 50%;
  width: 40%;
  position: absolute;
  left: -4%;
  top: 0;
  background-repeat: no-repeat;
  bottom: 0;
  background-position-y: center;
  margin: auto 0;
  background-size: contain;
  animation: z-axis-animation 3s ease-in-out 0s infinite alternate;

}



@keyframes z-axis-animation {
  from {transform: rotateZ(20deg)}
  to {transform: rotateZ(-20deg)}
}
#services .row-bg:after {
  content: "";
  background: url("../src/Assests/image/gifright.png");
  height: 80%;
  width: 100%;
  position: absolute;
  right: -10%;
  background-repeat: no-repeat;
  bottom: -10%;
  background-size: contain;
  background-position-x: right;
  background-position-y: bottom;
  z-index: -1;
  animation: moveLR 5s ease-in-out infinite alternate;
}
@keyframes moveLR {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(150px); /* Moving right at least 30px */
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes moveRL {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-250px); /* Moving left at least 30px */
  }
  100% {
    transform: translateX(0);
  }
}
#services .row-bg, div#services .heading-sec h3{
  position: relative;
}
div#services .heading-sec h3:before{
  content: "";
  background: url("../src/Assests/image/gifcenter.png");
  height: 156px;
  width: 162px;
  position: absolute;
  background-size: cover;
  background-position-y: bottom;
  background-repeat: no-repeat;
  right: 0;
  animation: moveAndRotateRight 4s ease-in-out infinite alternate;
  z-index: -1;
}
@keyframes moveAndRotateRight {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  50% {
    transform: translateX(100px) rotate(45deg); /* Move right at least 40px and rotate 45 degrees */
  }
  100% {
    transform: translateX(100px) rotate(45deg); /* Maintain position and rotation */
  }
}

@keyframes moveAndRotateLeft {
  0% {
    transform: translateX(100px) rotate(45deg); /* Start from the position and rotation reached in the previous animation */
  }
  50% {
    transform: translateX() rotate(0deg); /* Move left at least 40px and reset rotation */
  }
  100% {
    transform: translateX(0) rotate(0deg); /* Maintain position and rotation */
  }
}


/* Experirnces section CSS  */





.exp-timeline h5 {
  font-size: 40px;
  line-height: 48px;
  color: #344054;
  font-family: "lufga-semibold";
}
.exp-timeline p {
  color: #98A2B3;
  font-size: 20px;
  line-height: 28px;
  font-family: "lufga-light";
}


.circle {
  height: 40px;
  width: 40px;
  background: #ff8b48;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  position: relative;
}

.circle:before {
  height: 50px;
  width: 50px;
  content: "";
  
  border-color: #2a3e50;
  border-width: 3px;
  border-radius: 50%;
  position: absolute;
  margin: auto 0px;
  top: -13%;
  border-style: dashed;
}
.timeline {
  padding: 70px 0;
}
.circle.active {
  background: #303f52;
}


.circle .line {
  position: relative;
}

.circle .line:before {
  content: "";
  height: 180px;
  position: absolute;
  top: 44px;
  border-style: dashed;
  border-color: #2a3e50;
  border-width: 2px;
}
.exp-timeline {
  padding-bottom: 50px;
}