@font-face {
  font-family: "lufga-bold";
  src: url("../src/Assests/Font/Fontspring-DEMO-lufga-bold.otf") format("truetype");
 }
 @font-face {
  font-family: "lufga-light";
  src: url("../src/Assests/Font/Fontspring-DEMO-lufga-light.otf") format("truetype");
 }
 @font-face {
  font-family: "lufga-medium";
  src: url("../src/Assests/Font/Fontspring-DEMO-lufga-medium.otf") format("truetype");
 }
 @font-face {
  font-family: "lufga-semibold";
  src: url("../src/Assests/Font/Fontspring-DEMO-lufga-semibold.otf") format("truetype");
 }
 @font-face {
  font-family: "Urbanist-SemiBold";
  src: url("../src/Assests/Font/Urbanist-SemiBold.otf") format("truetype");
 }
 @font-face {
  font-family: "Urbanist-Bold";
  src: url("../src/Assests/Font/Urbanist-Bold.ttf") format("truetype");
 }
 



/* Header CSS */

div#basic-navbar-nav {
  justify-content: center;
}
nav.nav-outer {
  background: #fff !important;
}
.header-nav {
  justify-content: center;
}

.header-nav a {
  margin: 0 20px;
  color: #fff;
  font-size: 20px;
  padding: 17px 30px !important;
  border-radius: 40px;
  transition: all 0.5s;
}

.header-nav a:hover {
    background: #FD853A;
    color: #fff !important;
}

.nav-outer {
  background: #fff !important;
}

.nav-outer .container {
  background: #171717;
  padding: 10px 20px !important;
  border-radius: 60px;
  margin-top: 20px;
}

.nav-outer a.navbar-brand {
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
}

/* Banner Section CSS  */

.banner-content .ban-head {
  text-align: center;
  padding: 50px 0;
}
.banner-content .ban-head button:before {
  content: "";
  background: url("../src/Assests/image/btn-vector.png");
  position: absolute;
  height: 100%;
  width: 100%;
  top: -40%;
  right: -20%;
  z-index: 9999;
  background-repeat: no-repeat;
  background-position: top right;
}

.banner-content .ban-head button {
  position: relative;
}
.cta-btn {
  border: 1px solid #171717;
  background: transparent !important;
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 20px;
  color: #171717 !important;
  font-family: "lufga-medium";
}

.cta-btn a {
  text-decoration: none !important;
  color: #171717;
}

h1 {
  font-size: 95px !important;
  line-height: 103px !important;
  font-family: "Urbanist-SemiBold" !important;
  color: #171717 !important;
}

.orange {
  color: #FD853A !important;
}

.banner-content .left p {
  color: #344054;
  font-size: 20px;
  font-family: "lufga-medium";
}

.banner-content .icon {
  padding-bottom: 20px;
}

h3 {
  font-size: 47px !important;
  line-height: 55px !important;
  font-family: "Urbanist-Bold" !important;
  color: #171717 !important;
  font-weight: 600 !important;
}

.banner-content .right p {
  font-size: 20px;
  line-height: 28px;
  color: #171717 !important;
  font-family: "lufga-medium";
}

.banner-content .exp {
  text-align: right;
}

.banner-content .img img {
  display: block;
  margin: 0 auto;
}

.ban-text .row {
  display: flex;
  align-items: center;
}

.banner-content {
  position: relative;
}

.ban-text {
  position: relative;
  overflow: hidden;
  margin-top: -180px;
}
.ban-text .img {
  position: relative;
  margin-top: 50px;
}
.ban-text .img:after {
  content: "";
  background: url("../src/Assests/image/btn-vector2.png");
  height: 100px;
  width: 100px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: left top;
  z-index: 99999999;
  top: 5%;
  left: -12%;
  background-size: cover;
}

.ban-text .img:before {content: "";background: #FEB273;height: 500px;width: 500px;position: absolute;left: 0;border-radius: 50%;right: 0;margin: auto;bottom: -34%;z-index: -1;transform: scale(1.5);}

.buttons {
  display: flex;
  justify-content: space-between;

  background: rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  max-width: 370px;
  margin: 0 auto;
  padding: 5px 0px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 6%;
 
}

.buttons button {
  margin: 0 5px;
}

button.cta-orange {
 
  background: #ff8b48 !important;
}

.buttons button a {
  text-decoration: none;
  color: #fff;
}
.buttons button{
 border: unset !important;
 color: #fff;
 font-size: 20px;
 padding: 15px 30px !important;
 border-radius: 40px;
 transition: all 0.5s;
 background: transparent;
 width: 180px;
}

/* Experience Section CSS  */

h2 {
  text-align: center;
  color: #344054 !important;
  font-size: 64px !important;
  line-height: 72px !important;
  font-family: "lufga-medium" !important;
}

div#experience {
  padding: 100px 0;
}
